$fraunces: 'Fraunces', serif;
$barlow: 'Barlow', sans-serif;

$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$darkModerateCyan: hsl(168, 34%, 41%);

$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

@mixin headers {
    font-family: $fraunces;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding: 3rem 2rem 1rem;
}

@mixin paragraph {
    font-family: $barlow;
    color: $grayishBlue;
    text-align: center;
    line-height: 1.5;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

main {
    height: 100%;
    width: fit-content;
    .header {
        height: 70%;
        background: url("/images/mobile/image-header.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h1 {
            text-transform: uppercase;
            font-family: $fraunces;
            color: hsl(0, 0%, 100%);
            font-weight: 900;
            font-size: 3rem;
            text-align: center;
            letter-spacing: 0.4rem;

            
        }
    }
    .ads {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        .egg {
            height: 47vh;
            background-image: url("/images/mobile/image-transform.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .transform {
            height: fit-content;
            margin-bottom: 3rem;
            h4 {
                @include headers;
            }
            p {
                @include paragraph;
                padding: 0rem 2rem 2rem;
            }
            span {
                text-align: center;
                text-transform: uppercase;
                padding: 0rem 8rem;
                // padding-bottom: 2rem;
                font-family: $fraunces;
                font-weight: 900;
                text-decoration: underline $yellow;
            }
        }
        .glass {
            height: 47vh;
            background-image: url(/images/mobile/image-stand-out.jpg);
            background-size: cover;
        }
        .stand-out {
            h4 {
                @include headers;
            }
            p {
                @include paragraph();
                padding: 0rem 2.5rem 2rem;
            }
            span {
                text-align: center;
                text-transform: uppercase;
                padding: 0rem 8rem;
                // padding-bottom: 2rem;
                font-family: $fraunces;
                font-weight: 900;
                text-decoration: underline $softRed;
            }
        }
        .graphic {
            height: 80vh;
            background-image: url(/images/mobile/image-graphic-design.jpg);
            background-size: cover;
            h4{
                @include headers;
            }
            p {
                @include paragraph();
                padding: 0rem 1rem 2rem;
            }
        }
        .photography {
            h4 {
                @include headers;
            }
            p {
                @include paragraph();
                padding: 0rem 1rem 2rem;
            }
        }
    }
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }